/*
 * Globals
 */

 :root{
    /*Colors*/
    --primaryColor:#54115B;
    --grayBackgroundColor:#F6F6F6;
    --helpcolor:#FFB000;

    /*Text Color*/    
    --textColor:#2E2C36;

    /*Font*/
    --urbanistFont: font-family: "Urbanist", sans-serif;
 }
 .primaryColor {
    color: var(--primaryColor) !important;
 }

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
.text-bg-dark {
    color: #383838 !important;
    background: rgba(241, 239, 239, 1) !important;
}

.cover-container {
    max-width: 42em;
}

body {
    font-family: var(--urbanistFont)
}

footer {
    background-color: var(--primaryColor)
}

footer p {
    color: #ffffff !important;
}


/*
 * Header
 */

.nav-masthead .nav-link {
    color:var(--textColor);
    border-bottom: .25rem solid transparent;
    text-align: center;
}

.nav-masthead .nav-link.soporte {
    background-color: var(--helpcolor);
}

.nav-masthead .nav-link svg{
    max-width: 20px;
    
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: var(--primaryColor);
    border-bottom-color: var(--primaryColor)
}

#canvas {
    display: block;
}

